<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration.dtd">

<hibernate-configuration>
    <session-factory name="sessionHibernate">
        <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
        <property name="hibernate.connection.url">jdbc:derby://localhost:1527/CanadaCensusDB</property>

        <property name="hibernate.connection.username">fborges8262</property>
        <property name="hibernate.connection.password">password123</property>

        <property name="hibernate.connection.pool_size">10</property>
        <property name="show_sql">true</property>

        <property name="hibernate.default_schema">APP</property>
        <property name="hibernate.dialect">org.hibernate.dialect.DerbyTenSevenDialect</property>

        <mapping resource="resources/Age.hbm.xml"/>
        <mapping resource="resources/AgeGroup.hbm.xml"/>
        <mapping resource="resources/CensusYear.hbm.xml"/>
        <mapping resource="resources/GeographicArea.hbm.xml"/>
    </session-factory>
</hibernate-configuration>



